<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.simple.commonutils">

    <application>
        <activity
            android:name=".BaseFullDecorViewActivity"
            android:exported="false" />
        <activity android:name=".BaseLogActivity" />

        <provider
            android:name=".provider.CommonProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"> <!-- need flag -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/common_utils_provider_paths" />
        </provider>
    </application>

</manifest>